
.encabezado{
  width: 100%;
  background-color: #0018A8;
}

.filtros{
  width: 200px;
  background: #AE4A84;
}
body{
  background: #436b95;
}
#nav > a:hover{
  color: #faffa3;
}
#nav > a{
  display: inline-block;
  padding: 0 10px 0 10px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-shadow: #000 0 -1px 0;
}
#nav{
  width: 100%;
  background-color: #00709f;
  text-align: center;
}

.filtros{
  width: 200px;
}
