
#nav{
  background-color: #00709f;
}

#nav a:hover{
  color: #faffa3;
}

#nav a{
  display: inline-block;
  padding: 0 50px 0 50px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-shadow: #000 0 -1px 0;
}

input{
  height: 30px;
  width: 350px;
  font-size: 20px;
  padding-left: 5px;
  border: none;
}

.flex-container{
  width: 10%;
}
.item{
  background-color: #f1f1f1;
  width: 100%;
  margin: 2%;
  line-height: 85px;
}
.flex-container{
  margin: 0% 0% 0% 2.5%
}
.grande{
  margin: 5% 5% 0% 15%;
  width: 100%;

  }
#img{
    border-style: groove;
}
.com{
  margin: 1% 30% 1% 100%;
  float: right;
  padding: 0 0 0 0;
}
.titulo{
  margin: 10% 35% 0% 0%;
  float: right;
  padding: 0 0 0 0;
  background:
}
.text_final{
  margin: 0% 30% 0% 0%;
  float: right;
  padding: 0 0 0 0;
}
#caja_principal{
  display:inline-block;
  width: 100%;
}
#caja_medio{
  width: 30%;
  float: left;
  margin: 5% 0% 0% 0%;
}
#caja_derecha{
  float: right;
  width: 50%;
}
#caja_izquierda{
  float: left;
}
