.general{
  background-color: white;
  width: auto;
  height: auto;
}

.barraNavegacion{
  padding-bottom: 5px;
}

.desc {
    color: solid black;
    font-weight: bold;
    font-size: 20px;
}

#nav{
  background-color: #00709f;
  width: 1366px;
}

#nav a:hover{
  color: #faffa3;
}

#nav a{
  display: inline-block;
  padding: 0 50px 0 50px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-shadow: #000 0 -1px 0;
}

#imagenes{
  background-color: rgba(0,0,0,0);
  width: 1366px;
  height: 555px;
  margin-left: 40px;
}

div.gallery {
    margin: 25px;
    border: 0px solid #FFFFFF;
    background: #FFFFFF;
    float: left;
    width: 375px;
    height: 234px;
    text-align: center;
}

div.gallery img {
    width: 100%;
    height: auto;
}
div.gallery img:hover {
    transform: scale(1.1);
}

input{
  height: 30px;
  width: 350px;
  font-size: 20px;
  padding-left: 5px;
  border: none;
}

body  {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: auto;
}

.footer{
  width: 1366px;
  height: 150px;
  margin-top: 10px;
  float: left;
  font-size: 25px;
  font-weight: bold;
  border-top: 4px solid #00709f;
  border-bottom: 4px solid #00709f;
}

.footer .infoContacto{
  width: 681px;
  height: 100%;
  float: left;
}

.infoContacto img{
  margin: 0 0 0 5px;
  float: left;
}

.infoContacto h1{
  float: left;
  margin-left: 40px;
  font-size: 20px;
}

.infoContacto ul{
  margin: 0 0 0 0;
}

.footer .sopoTecnico{
  background-color: #00709f;
  width: 409px;
  height: 100%;
  float: left;
  font-size: 30px;
  border-right: 1px;
  text-align: center;
  color: white;
}

.sopoTecnico h1{
  font-size: 22px;
}

.footer .copyright{
  background-color: #00709f;
  width: 275px;
  height: 100%;
  float: right;
  font-size: 22px;
  text-align: center;
  color: white;
}
