 body{
   background: #2196F3;
 }
/*div.aca {
    margin: 25px;
    border: 0px solid #FFFFFF;
    background: #FFFFFF;
    float: left;
    padding: 0 30px 0 30px;
}
*/

#nav{
  background-color: #00709f;
}

#nav a:hover{
  color: #faffa3;
}

#nav a{
  display: inline-block;
  padding: 0 50px 0 50px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-shadow: #000 0 -1px 0;
}

input{
  height: 30px;
  width: 350px;
  font-size: 20px;
  padding-left: 5px;
  border: none;
}

.flex-container{
  width: 10%;
}
.item{
  background-color: #f1f1f1;
  width: 100%;
  margin: 1%;
  line-height: 75px;
}
.flex-container{
  margin: 0% 0% 0% 2.5%
}
.grande{
  margin: 0% 5% 0% 15%;
  }
#caja_principal{
  display:inline-block;
  width: 100%;
}
#caja_derecha{
}
#caja_izquierda{
  float: left;
}
