
  <head>

    <link rel="stylesheet" href="css/style_publicacion.css">
    <link rel="stylesheet" href="css/style_perfil.css">
  </head>
  <body>
    <div class="general">
      <!-- Barra de navegación -->
      <div id="nav">
        <div class="barraNavegacion">
          <a href="index.html"><img src="assets/img_login2.png" width="50px" heigth="50px"></a>
          <input type="text" id="busqueda" placeholder=" ¿Qué estás buscando?">
          <a id="img" href="publicacion.html"><img src="assets/busqueda.png" width="25px" heigth="25px"></a>
          <a href=>Publicaciones</a>
          <a href=>Menú de carros</a>
          <a href="">Publicar</a>
        </div>
      </div>
      </body>
      <div class="imagen">
        <div class="img">
          <img src="assets/cabeza.png" width=200px height=200px>
          <p>Colocar una imagen representativa</p>
          <button type="button" name="button">Subir</button>
        </div>
      </div>
      <div class="dato">
        <div class="datos">
            <p>
              <strong>Nombres:</strong>
              <!-- <% @user.nombres %> -->
            </p>
            <p>
              <strong>Apellidos:</strong>
              <!-- <% @user.apellidos %> -->
            </p>
            <p>
              <strong>Telefono:</strong>
              <!-- <% @user.telefono %> -->
            </p>
            <p>
              <strong>Correo:</strong>
              <!-- <% @user.Correo %> -->
            </p>
            <p>
              <strong>Usuario:</strong>
              <!-- <% @user.usuario %> -->
            </p>
            <p>
              <strong>Contraseña:</strong>
              <!-- <% @user.contraseña %> -->
            </p>
              <p> link_to 'Edit', edit_user_path</p>
              <p> link_to 'Logout', users_path</p>
              <p> link_to 'Publicar', publicar user pasdath</p>
         </div>
      </div>

    </div>
